/*Google fonts integrate*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
}
.container{margin: 0 auto;
	width: 1140px;

}

.item-section{
width: 100%;
height: auto;
padding: 100px 0;
}
.item-title{
	text-align: center;
}
.item-title h1{
	font-size: 42px;
}
.item-body{
	width: 100%;
	float: left;
	margin: 0 15px;
}
.col-5{
	width: 50%;
	float: left;

}
.item-img{
	padding: 50px;
	text-align: right;
	margin-right: -55px;
}
.item-text{
	width: 50%;
	float: right;
	padding: 50px;
	margin: 10px;
	margin-right: 120px;
	
}
.item-text ul li{
	list-style: none;
	color: #4c527d;
	margin-bottom: 16px;
}
.item-text ul li i{
	color: #7FCDBB;
	margin-right: 16px;
}
.item-text button{
	background: #ed6524;
	font-size: 18px;
	color: white;
	padding: 20px 40px;
	border-radius: 32px;
	outline: none;
	border: 3px solid #ed6524;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}

/*item section end here*/
/*subscribe start here*/

.subscribe{
	width: 100%;
	padding: 100px 0;
	height: auto;

}

.subscribe-box{
	width: 40%;
	padding: 70px 90px;
	background-color: #f6f4fc;
	margin: 0 auto;
	margin-top: 350px;
	text-align: center;

}

.subscribe-box p{
	color: #4c527d;
	margin: 20px 0;
	line-height: 20px;
}
.email-input{
	 width: 50%;
	 padding: 10px;
	 border-radius: 3px;
	 border: none;
}
.send-button{
	padding: 10px 15px;
	font-weight: 600;
	background: #ed6524;
	color: white;
	border: none;
	border-radius: 3px
}
/*customer book css*/

.customer-views{
	width: 100%;
}
.intro h1 h4{
	text-align: center!important;
}
.intro h4{
	color: #4c527d
}
.intro{
margin-left: 340px;
margin-top: 20px;
margin-bottom: 20px;
}
.gallery{
	width: 100%;
	float: left;
}
.col-1{
	width: 33.33%;
	float: left;
	margin-top: 40px;
    text-align: center;
  margin-right: 65px;
}
.col-1 h5{
	    margin: 13px;
	    color: #4c527d;
}
.col-2{
	width: 33.33%;
	float: left;
	margin-top: 40px;
    text-align: center;
    margin-left: -78px;
}
.col-2 h5{
	    margin: 13px;
	    color: #4c527d;
}
.col-3{
	width: 33.33%;
	float: left;
	margin-top: 40px;
    text-align: center;
    margin-bottom: 80px;

}
.col-3 h5{
	    margin: 13px;
	    color: #4c527d
}
.developers{
width: 100%;
}
.softwere-intro{
	text-align: center;
	margin-left: 40px;
	margin-top: 30px;
}
.softwere-intro h1{
	margin-bottom: 40px!important;
}
.link ul li{
	list-style: none;

}
a i{
	color: green;
}
.link{
	margin-top: 60px;
}
.review-intro{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 80px;
}
.review-intro1{
	width: 100%;
	float: left;

	
}
.review-intro1 .col-1{
	width: 33.33%!important;
	text-align: center;
	float: left!important;

}
.review-intro1 .col-1 li a i{
	text-align: center;

}
  a i{
	color: orange!important;
}
.review-intro1 h6{
	margin-left: -40px!important;

}
.user img{
	margin-top: -20px!important;
	margin-left: -40px;
}
.user-id{
	margin-top: -70px;
	font-size: 15px;
	margin-left: 30px;
}
.review-intro1 .col-2{
	width: 33.33%!important;
	text-align: center!important;
	float: left!important;

}
.review-intro1 .col-2 li a i{
	text-align: center!important;

}
.review-intro1 .col-3{
	width: 33.33%!important;
	text-align: center!important;
	float: left!important;

}
.review-intro1 .col-3 li a i{
	text-align: center;

}
.review-intro2{
	width: 100%;
	float: left;
	margin-bottom: 80px;
}
.col-5{
	width: 50%;
	float: left;
	text-align: center;
	margin-right: -50px;
}
.col-6{
	width: 50%;
	float: left;
	text-align: center;
	margin-left: -20px;
}
.button-part{
	text-align: center;
	
}
 .button-part button{
	padding: 10px 30px!important;
	border-radius: 18%;
	background: #ed6524;
	border: none;
	margin-bottom: 60px;
}
.footer{
	width: 100%;
	height: 100%;


}
.footer img{
	margin-left: 490px;
	margin-top: 40px;
}
.footer .row{
	background: #ed6524!important;
}
.author-description h2 {
	text-align: center!important;
	color: white!important;
}
.author-description ul li{
	list-style: none;
	color: white;
}
.author-description h6{
	text-align: left!important;
	color: white!important;
    padding: 50px 300px;
    margin-bottom: 25px;
}
.row h4{
	text-align: center;
	color: white!important;
	margin-bottom: 20px;
}
.footer-link ul li{
	list-style: none;
	display: inline-block;
	
}
.footer-link li a i{
	color: white!important;

	
}
ul li a i{
text-align: center!important;
margin-left: 15px;
	
}






